<!DOCTYPE html>

<html>

<head>
    <title>{{cookiecutter.entity_name | upper}} CRUD</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 520px;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <img src="https://camo.githubusercontent.com/0d601c68ab4ee554491ffe2aa994f48e47ff6447f295e1a359a07fb9fb070a64/68747470733a2f2f332e62702e626c6f6773706f742e636f6d2f2d6a7779624b6a314d6e49552f57423676395448714b7a492f414141414141414149586b2f475030673553313643656f31505032353254325259704d674156684a6866544541434c63422f73313630302f435255442e706e67"
        id="octocat" alt="" />

    <h1>Welcome to the {{cookiecutter.entity_name | upper}} CRUD Home Page</h1>
    <table>
        <tr>
            <th>Method</th>
            <th>Operation</th>
            <th>Resources</th>
        </tr>
        <tr>
            <td>POST</td>
            <td>Creating a {{cookiecutter.entity_name| upper}}</td>
            <td>/api/v1/{{cookiecutter.entity_name}}</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>Reading a {{cookiecutter.entity_name | upper}}</td>
            <td>/api/v1/{{cookiecutter.entity_name}}/[{{cookiecutter.entity_name}}_id]</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>Updating a {{cookiecutter.entity_name| upper}}</td>
            <td>/api/v1/{{cookiecutter.entity_name}}</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>Deleting a {{cookiecutter.entity_name| upper}}</td>
            <td>/api/v1/{{cookiecutter.entity_name}}/[{{cookiecutter.entity_name}}_id]</td>
        </tr>

    </table>

</body>

</html>